:root{
    --vermelho:#E50914;
    --preto:#141414;
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos bases*/

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* MENU PRINCIPAL NETFLIX*/
header .container {
    display: flex; /* colocou o itens do menu na mesma linha */
    flex-direction:row;
    align-items: center; /* alinha os itens no centro (alinhamento vertical*/
    justify-content:   safe;/*  space-between; /*alinhamento dos itens vertical*/
    font-size: 15px;
}

/* LOGO MARCA MENU*/
header .Logo {
    color: var(--vermelho);
    font-family: 'Arial Black',Times;
    font-size: 40px;
    margin-left: 50px;;
    margin-right: 40px;
    
}

/* LINKS DO MENU*/
header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    
}

/*EDIÇÃO LINKS MENU*/
header nav a:hover{ /*ao mouse passar por cima do item selecionado muda a cor */
    color: #AAA;
}

/*Filme principal*/

.filme-principal {
 font-size: 16px;
 background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/imginiciotema.jpg');
 height: 500px;
 background-size: cover;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}
.botao:{
    background-color: red;
}
.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    
}
.carrosel-filmes{
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}

.item{
    overflow: hidden;
}

.item img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    

}

.titulocarrosel{
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif, Arial, sans-serif; 
    margin-left: 30px;
    font-size: 20px;
    

}

footer{
    margin-top: 30px;
   
    margin-left: 2%;
    margin-right: 2%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    text-align: center;


}

.link img{
   margin-top: 10px;
   margin-right: 5px;
   width: 40px;
}